body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(103, 103, 140);
  display: flex;
  flex-direction: row;
}

.navigation {
  padding: 20px;
  width: 20vw;
  height: 100vh;
  background-color: rgb(49, 45, 82);
  transform: translateX(-500px);
  transition: all 650ms ease-in-out;
}
.checkbox:checked ~ .navigation {
  transform: translateX(0);
}
.checkbox:checked {
  left: 50px;
  width: 60px;
  height: 60px;
  opacity: 0;
}

.checkbox {
  opacity: 0;
  position: absolute;

  z-index: 100;
  width: 1000px;
  height: 1000px;
}

.hamburger {
  position: absolute;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 99;
}
.hamburger .top {
  transition-duration: 0.7s;
}
.hamburger .bottom {
  transition-duration: 0.7s;
}
.hamburger .middle {
  transition-duration: 0.7s;
}
.bar {
  height: 5px;
  width: 35px;
  background-color: rgb(160, 154, 188);
  margin: 10px auto;
  box-shadow: 0px 5px 50px 5px rgb(0, 0, 0);
}
.hamburger:hover .top {
  transform: translateY(15px) rotateZ(45deg);
}
.hamburger:hover .bottom {
  transform: translateY(-15px) rotateZ(-45deg);
}
.hamburger:hover .middle {
  width: 0px;
}
.hamburger:hover + .menu-container .menu-item1 {
  animation: 0.5s ease-in-out item;
}
.hamburger:hover + .menu-container .menu-item2 {
  animation: 0.7s ease-in-out item;
}
.hamburger:hover + .menu-container .menu-item3 {
  animation-delay: 1s;
  animation: 1s ease-in-out item;
}
@keyframes item {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.menu-container {
  width: 60%;
  margin: 50px;
  height: 300px;
}
.menu-item1 {
  font-size: 30px;
  color: rgb(228, 227, 225);
  margin-top: 10px;
  border-left: rgb(0, 0, 0) solid 1px;
  border-right: rgb(0, 0, 0) solid 1px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.border-item1 {
  height: 10px;
  width: 100px;
  position: absolute;
}
.border1-item1 {
  height: 10px;
  width: 100px;
  margin-top: 8px;
  position: absolute;
}
.menu-item1:hover > .border-item1 {
  animation: 4s temAnimation linear;
}
.menu-item1:hover > .border1-item1 {
  animation: 4s temAnimations linear;
}
.menu-item1:hover {
  animation: 4s anime linear;
}
@keyframes anime {
  to {
    background-color: rgb(228, 227, 225);
  }
  from {
    background-color: azure;
  }
}

@keyframes temAnimation {
  0% {
    background-color: rgb(228, 227, 225);
    top: 76px;
  }
  25% {
    background-color: rgb(228, 227, 225);
    top: 80px;
  }
  50% {
    background-color: rgb(228, 227, 225);
    top: 86px;
  }

  75% {
    background-color: rgb(228, 227, 225);
    top: 97px;
  }
  100% {
    background-color: rgb(228, 227, 225);
    top: 105px;
  }
}
@keyframes temAnimations {
  0% {
    background-color: rgb(228, 227, 225);
    bottom: 740px;
  }
  25% {
    background-color: rgb(228, 227, 225);
    bottom: 755px;
  }
  50% {
    background-color: rgb(228, 227, 225);
    bottom: 768px;
  }

  75% {
    background-color: rgb(228, 227, 225);
    bottom: 779px;
  }
  100% {
    background-color: rgb(228, 227, 225);
    bottom: 783px;
  }
}

.menu-item2 {
  font-size: 30px;
  color: rgb(228, 227, 225);
  margin-top: 10px;
  border-left: rgb(0, 0, 0) solid 1px;
  border-right: rgb(0, 0, 0) solid 1px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.border2-item {
  height: 10px;
  width: 100px;
  position: absolute;
}
.border2-item1 {
  height: 10px;
  width: 100px;
  margin-top: 8px;
  position: absolute;
}
.menu-item2:hover > .border2-item {
  animation: 4s temAnimation1 linear;
}
.menu-item2:hover > .border2-item1 {
  animation: 4s temAnimations1 linear;
}
.menu-item2:hover {
  animation: 4s anime1 linear;
}
@keyframes anime1 {
  to {
    background-color: rgb(228, 227, 225);
  }
  from {
    background-color: azure;
  }
}

@keyframes temAnimation1 {
  0% {
    background-color: rgb(228, 227, 225);
    top: 140px;
  }
  25% {
    background-color: rgb(228, 227, 225);
    top: 145px;
  }
  50% {
    background-color: rgb(228, 227, 225);
    top: 149px;
  }

  75% {
    background-color: rgb(228, 227, 225);
    top: 156px;
  }
  100% {
    background-color: rgb(228, 227, 225);
    top: 160px;
  }
}
@keyframes temAnimations1 {
  0% {
    background-color: rgb(228, 227, 225);
    bottom: 683px;
  }
  25% {
    background-color: rgb(228, 227, 225);
    bottom: 686px;
  }
  50% {
    background-color: rgb(228, 227, 225);
    bottom: 690px;
  }

  75% {
    background-color: rgb(228, 227, 225);
    bottom: 700px;
  }
  100% {
    background-color: rgb(228, 227, 225);
    bottom: 719px;
  }
}

.menu-item3 {
  font-size: 30px;
  color: rgb(228, 227, 225);
  margin-top: 10px;
  border-left: rgb(0, 0, 0) solid 1px;
  border-right: rgb(0, 0, 0) solid 1px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.border3-item {
  height: 10px;
  width: 100px;
  position: absolute;
}
.border3-item1 {
  height: 10px;
  width: 100px;
  margin-top: 8px;
  position: absolute;
}
.menu-item3:hover > .border3-item {
  animation: 4s temAnimation2 linear;
}
.menu-item3:hover > .border3-item1 {
  animation: 4s temAnimations2 linear;
}
.menu-item3:hover {
  animation: 4s anime2 linear;
}
@keyframes anime2 {
  to {
    background-color: rgb(228, 227, 225);
  }
  from {
    background-color: azure;
  }
}

@keyframes temAnimation2 {
  0% {
    background-color: rgb(228, 227, 225);
    top: 180px;
  }
  25% {
    background-color: rgb(228, 227, 225);
    top: 185px;
  }
  50% {
    background-color: rgb(228, 227, 225);
    top: 187px;
  }

  75% {
    background-color: rgb(228, 227, 225);
    top: 190px;
  }
  100% {
    background-color: rgb(228, 227, 225);
    top: 200px;
  }
}
@keyframes temAnimations2 {
  0% {
    background-color: rgb(228, 227, 225);
    bottom: 630px;
  }
  25% {
    background-color: rgb(228, 227, 225);
    bottom: 635px;
  }
  50% {
    background-color: rgb(228, 227, 225);
    bottom: 648px;
  }

  75% {
    background-color: rgb(228, 227, 225);
    bottom: 655px;
  }
  100% {
    background-color: rgb(228, 227, 225);
    bottom: 660px;
  }
}
.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30% 20% 30%;

  grid-template-areas:
    "header header hed"
    "main1 main hed"
    "footer footer hed1";
}
.header {
  grid-area: header;
  margin: 7px;
}
.hed {
  grid-area: hed;
  margin: 7px;
}
.footer {
  grid-area: footer;
  margin: 7px;
}
.main1 {
  grid-area: main1;
  margin: 7px;
}
.main {
  grid-area: main;
  margin: 7px;
}
.hed1 {
  grid-area: hed1;
  margin: 7px;
}
.header:hover {
  box-shadow: 10px 10px 5px 2px #0b1e41;
}
.hed:hover {
  box-shadow: 10px 10px 5px 2px #bcd2e8;
}
.footer:hover {
  box-shadow: 10px 10px 5px 2px #001b3a;
}
.main1:hover {
  box-shadow: 10px 10px 5px 2px #301654;
}
.main:hover {
  box-shadow: 10px 10px 5px 2px rgb(30, 24, 74);
}
.hed1:hover {
  box-shadow: 10px 10px 5px 2px #f1e6e6;
}
