body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(103, 103, 140);
}
.navigation {
  padding: 20px;
  width: 20vw;
  height: 100vh;
  background-color: rgb(49, 45, 82);
  display: flex;
  justify-content: end;
}

.hamburger {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.bar {
  height: 5px;
  width: 35px;
  background-color: rgb(160, 154, 188);
  margin: 10px auto;
  box-shadow: 0px 5px 50px 5px rgb(0, 0, 0);
}
.hamburger:hover .top {
  width: 0px;
}
.hamburger:hover .bottom {
  width: 0px;
}
.hamburger:hover .middle {
  width: 35px;
}

.menu-container {
  width: 60%;
  margin: 50px;
  height: 300px;
}
.menu-item1 {
  font-size: 30px;
  color: rgb(196, 202, 255);
  margin-top: 10px;
  border-top: white solid 1px;
  width: 100px;
  border-bottom: white solid 1px;
}
.menu-item1:hover {
  animation: 1s temAnimation;
  width: 100px;
  height: 50px;
}
.menu-item2 {
  font-size: 30px;
  color: rgb(196, 202, 255);
  margin-top: 30px;
  border-top: white solid 1px;
  width: 100px;
  border-bottom: white solid 1px;
}
.menu-item2:hover {
  animation: 1s temAnimation;
  width: 100px;
  height: 50px;
}

.menu-item3 {
  font-size: 30px;
  color: rgb(196, 202, 255);
  margin-top: 30px;
  border-top: white solid 1px;
  width: 100px;
  border-bottom: white solid 1px;
}
.menu-item3:hover {
  animation: 1s temAnimation;
  width: 100px;
  height: 50px;
}
@keyframes temAnimation {
  0% {
    border-top: rgb(255, 255, 255) solid 1px;
    border-bottom: rgb(255, 255, 255) solid 1px;
  }
  25% {
    background-color: rgb(221, 221, 221);
    border-top: rgb(255, 255, 255) solid 1px;
    border-bottom: white solid 1px;
  }
  50% {
    background-color: aliceblue;
    border-top: rgb(255, 255, 255) solid 1px;
    border-bottom: rgb(255, 255, 255) solid 1px;
  }
  100% {
    border-top: rgb(255, 255, 255) solid 1px;
    border-bottom: rgb(255, 255, 255) solid 1px;
  }
}
