body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(103, 103, 140);
}
.navigation {
  padding: 20px;
  width: 20vw;
  height: 100vh;
  background-color: rgb(49, 45, 82);
  display: flex;
  justify-content: end;
}

.hamburger {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.bar {
  height: 5px;
  width: 35px;
  background-color: rgb(160, 154, 188);
  margin: 10px auto;
  box-shadow: 0px 5px 50px 5px rgb(0, 0, 0);
}
.hamburger:hover .top {
  width: 0px;
}
.hamburger:hover .bottom {
  width: 0px;
}
.hamburger:hover .middle {
  width: 35px;
}
.menu-container {
  width: 60%;
  margin: 50px;
  height: 300px;
}

.menu-item1:hover {
  animation: 4s temAnimation ease-in-out;

  width: 60px;
  height: 50px;
}
@keyframes temAnimation {
  0% {
    border-left: green solid 1px;
    border-right: green solid 1px;
    margin-left: 1px;
  }
  25% {
    background-color: gray;
    border-top: green dashed 1px;
    margin-left: 2px;
  }
  50% {
    background-color: aliceblue;
    border-top: green solid 1px;
    border-right: green dashed 1px;
    margin-left: 5px;
  }
  100% {
    border-top: green solid 1px;
    border-right: green solid 1px;
    border-left: green solid 1px;
    margin-left: 10px;
  }
}
.menu-item2:hover {
  animation: 3s temAnimation1 ease-in-out;

  width: 60px;
  height: 50px;
}
@keyframes temAnimation1 {
  0% {
    border-left: green solid 1px;
    border-right: green solid 1px;
    margin-left: 1px;
  }
  25% {
    background-color: gray;
    border-top: green dashed 1px;
    margin-left: 2px;
  }
  50% {
    background-color: aliceblue;
    border-top: green solid 1px;
    border-right: green dashed 1px;
    margin-left: 5px;
  }
  100% {
    border-top: green solid 1px;
    border-right: green solid 1px;
    border-left: green solid 1px;
    margin-left: 10px;
  }
}
.menu-item3:hover {
  animation: 3s temAnimation2 ease-in-out;

  width: 60px;
  height: 50px;
}
@keyframes temAnimation2 {
  0% {
    border-left: green solid 1px;
    border-right: green solid 1px;
    margin-left: 1px;
  }
  25% {
    background-color: gray;
    border-top: green dashed 1px;
    margin-left: 2px;
  }
  50% {
    background-color: aliceblue;
    border-top: green solid 1px;
    border-right: green dashed 1px;
    margin-left: 5px;
  }
  100% {
    border-top: green solid 1px;
    border-right: green solid 1px;
    border-left: green solid 1px;
    margin-left: 10px;
  }
}
